DATABASE_URL="postgresql://postgres:postgres@localhost:5432/friends_get_friends"
NUXT_PUBLIC_SITE_URL="https://deltahi.vercel.io"
NUXT_PUBLIC_IOS_DOWNLOAD_URL="https://apps.apple.com"
NUXT_PUBLIC_ANDROID_DOWNLOAD_URL="https://play.google.com/store"
