DATABASE_LOCAL_URL="postgresql://postgres:postgres@localhost:5432/friends_get_friends"
DATABASE_URL="postgresql://neondb_owner:npg_OrSfm6idH8WY@ep-rough-field-aozh5ibg-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"


NUXT_PUBLIC_SITE_URL="http://10.150.102.5:3000"
NUXT_PUBLIC_DOWNLOAD_URL="https://thap.deltaww.com/deltahi/download"


NUXT_HOST=0.0.0.0
NUXT_PORT=3000